<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragments :: head}"></div>
        <title>Dashboard</title>
    </head>
    <body>
        <div th:replace="~{navbar :: navbar}"></div>
        <main>
            <div th:replace="~{fragments :: toast}"></div>
            <div th:if="${!availableUsers.isEmpty()}">
                <div class="container py-2">
                   <div class="row">
                        <div class="col">
                            <h1 class="text-center">Aggiungi ticket</h1>
                        </div>
                   </div>
                   <div class="row">
                    <div class="col-8">
                        <form class="row g-3" id="ticket-form" th:object="${ticket}" th:action="@{/ticket/new}" method="post">
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input th:field="*{description}" type="text" class="form-control" id="description" placeholder="Descrivi il problema..."  th:errorClass="is-invalid">
                                    <label for="description">Descrizione</label>
                                      <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                                          <ul>
                                              <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                          </ul>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="category" th:field="*{category}">
                                        <option value="" selected>Scegli una categoria...</option>
                                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                      </select>
                                      <label for="category">Categoria</label>
                                    <div th:if="${#fields.hasErrors('category')}" class="invalid-feedback">
                                      <ul>
                                          <li th:each="err : ${#fields.errors('category')}" th:text="${err}"></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="user" th:field="*{user}">
                                        <option value="" selected>Scegli un operatore disponibile...</option>
                                        <option th:each="user : ${availableUsers}" th:value="${user.id}" th:text="${user.name}"></option>
                                      </select>
                                      <label for="user">Operatore</label>
                                    <div th:if="${#fields.hasErrors('user')}" class="invalid-feedback">
                                      <ul>
                                          <li th:each="err : ${#fields.errors('user')}" th:text="${err}"></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> AGGIUNGI</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                              Ricorda
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Assicurati di inserire i dati correttamente</h5>
                              <p class="card-text">Prevenire è meglio che curare.</p>
                            </div>
                          </div>
                    </div>
                   </div>
                </div>
            </div>
            <div th:if="${availableUsers.isEmpty()}">
                <div class="container py-2">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center">Non possono essere creati ticket.</h1>
                            <h2 class="text-center">Nessun operatore disponibile al momento.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <div th:replace="~{fragments :: scripts}"></div>
    </body>
</html>