<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragments :: head}"></div>
        <title>Dashboard</title>
    </head>
    <body>
        <div th:replace="~{navbar :: navbar}"></div>
        <main>
            <div th:replace="~{fragments :: toast}"></div>
            <div class="container py-2">
                <div class="row py-2">
                    <div class="col">
                        <h1 class="text-center">Ciao <span th:text="${user.name}"></span></h1>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-6">
                        <dt>Username</dt>
                            <dd th:text="${user.username}"></dd>
                        <dt>Mail</dt>
                            <dd th:text="${user.email}"></dd>
                        <dt>Ruolo</dt>
                            <dd>
                                <span th:each="role : ${user.roles}" th:text="${role.name}" th:classappend="${role.name == 'ADMIN'} ? 'badge bg-primary' : 'badge bg-secondary'"></span>
                            </dd>
                        <dt>Stato</dt>
                            <dd>
                                <span th:text="${user.availableToString}" th:classappend="${user.available} ? 'badge bg-success' : 'badge bg-danger'"></span>
                            </dd>
                            <hr>
                        <a class="btn btn-primary" th:href="@{/user/edit}">Modifica dettagli</a>
                    </div>
                    <div class="col-6">
                        <form th:object="${user}" th:action="@{/user/update-status}" method="post">
                            <div class="input-group">
                                <div class="form-floating">
                                    <select id="status" name="status" class="form-select">
                                        <option th:selected="${user.available == TRUE}" value="true">Disponibile</option>
                                        <option th:selected="${user.available == FALSE}" value="false">Non Disponibile</option>
                                    </select>
                                    <label for="status">Aggiorna stato</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Aggiorna</button>
                            </div>
                        </form>
                        <br>
                        <div class="alert alert-danger" th:if="${statusError}" th:text="${statusError}"></div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </main>
        
        <div th:replace="~{fragments :: scripts}"></div>
    </body>
</html>