<div th:fragment="navbar">
<header>
  <nav class="navbar navbar-expand navbar-dark bg-danger">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}">
          <i class="fa-solid fa-ticket"></i> Ticket System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/ticket}">Ticket</a>
            </li>
            <li class="nav-item"  sec:authorize="hasAuthority('ADMIN')">
              <a class="nav-link" aria-current="page" th:href="@{/user/list}">Utenti</a>
            </li>
            <li class="nav-item"  sec:authorize="hasAuthority('ADMIN')">
              <a class="nav-link" th:href="@{/ticket/new}">Aggiungi nuovo ticket</a>
            </li>
          </ul>
          <div class="d-flex">
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i></span>
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li >
                  <a class="dropdown-item" th:href="@{/user}">
                    <img src="https://placehold.co/24?text=AVATAR" class="rounded" alt="Avatar">
                    <span sec:authentication="name"></span>
                  </a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')"><hr class="dropdown-divider"></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/ticket/new}"><i class="fas fa-square-plus fa-fw"></i> Nuovo ticket</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/user/new}"><i class="fas fa-user-plus fa-fw"></i> Nuovo utente</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/user}"><i class="fas fa-user fa-fw"></i> Profilo</a></li>
                <li><a class="dropdown-item" th:href="@{/user/edit}"><i class="fas fa-user-edit fa-fw"></i> Modifica</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </nav>
</header>
</div>